:root{
    --sort-content-primary: #FFFFFF;
    --sort-content-secondary: #C7C9CC;
    --sort-content-tertiary: #D9D9D9;
    --sort-content-brand: #C58DE7;
    --sort-color-inverse: #030203;
    --sort-background-primary: #020202;
    --sort-background-secondary: #111012;
    --sort-background-tertiary: #24222E;
    --sort-background-brand: #C58DE7;
    --sort-background-gray: #3D3D3D;
    --sort-accent-pink: #D586E0;
    --sort-accent-blue: #91A1FA;
    --sort-accent-green: #77C0AF;
    --sort-accent-lime: #D1DC97;
    --sort-accent-red: #E9A9B3;
}

body{
    font: normal normal 400 16px/150% "Roboto Flex", sans-serif;
    background-color: var(--sort-background-primary);
    color: var(--sort-content-primary);    
}

/* LINKS */
a, 
a svg{
    color: var(--sort-color-brand);
    fill: var(--sort-color-brand);
    text-decoration: none;
    font-size: 0.9rem;
    transition: all 500ms;
}

a:hover, 
a:hover svg{
    color: var(--sort-color-brand-hover);
    fill: var(--sort-color-brand-hover);
}

a svg{
    width: 14px;
    height: 14px;
}

/* TEXTO */
h1, h2, h3, h4, h5, h6{
    margin-bottom: 20px;
    font-weight: 800;
    font-family: "Sora", sans-serif;
    color: var(--sort-content-primary);
}

h1, h2{font-size: 1.5rem;} /*24px*/
h3{font-size: 1.3rem;} /*20px*/
h4{font-size: 1rem;} /*16px*/

.title-large,
.title-medium,
.title-small{    
    line-height: 130%;
    font-weight: 800;
    text-transform: uppercase;
}

.title-large{font-size: 4.5rem}
.title-medium{font-size: 2.5rem}
.title-small{
    font-size: 2rem;
    font-weight: 700;
}

.title-overline{
    font-size: 1rem;
    line-height: 150%;
    font-weight: 700;
    text-transform: uppercase;
}

.text-large,
.text-medium,
.text-small{
    line-height: 150%;
    font-weight: 500;
}

.text-large{font-size: 1rem}
.text-medium{font-size: 0.875rem}
.text-small{font-size: 0.75rem}

.label-medium,
.label-small{
    line-height: 150%;
    font-weight: 700;
}

.label-medium{font-size: 1.25rem}
.label-small{font-size: 1rem}

/* CONTENT */

.bg-shapes{
    background-image: url("../images/shapes.png");
    background-repeat: repeat-x;
}