:root{
    --sort-bg-primary: #F4F5FB;
    --sort-bg-secondary: #FFFFFF;
    --sort-color-brand: #CA3884;
    --sort-color-brand-hover: #A52C6B;
    --sort-color-danger: #C93847;
    --sort-color-success: #38c991;
    --sort-content-primary: #080B12;
    --sort-content-secondary: #374151;
    --sort-content-tertiary: #9CA3AF;
    --sort-always-white: #FFFFFF;
    --sort-border-primary: #D1D5DB;
    --sort-border-hover: #B9C2D0;
}

body{
    font: normal normal 400 16px/150% "Inter", sans-serif;
    background-color: var(--sort-bg-primary);
}

h1, h2, h3, h4, h5, h6{
    margin-bottom: 30px;
    font-weight: bold;
    color: var(--sort-content-primary);
}

h1, h2{font-size: 1.5rem;} /*24px*/
h3{font-size: 1.3rem;} /*20px*/
h4{font-size: 1rem;} /*16px*/

a, 
a svg{
    color: var(--sort-color-brand);
    fill: var(--sort-color-brand);
    text-decoration: none;
    font-size: 0.9rem;
    transition: all 500ms;
}

a:hover, 
a:hover svg{
    color: var(--sort-color-brand-hover);
    fill: var(--sort-color-brand-hover);
}

a svg{
    width: 14px;
    height: 14px;
}
