:root{
    --background-primary: #151515;
    --background-secondary: #1E1E1E;
    --background-tertiary: #23242C;
    --background-brand: #9282FA;
    --background-highlights: #BDB4FA;
    --content-primary: #FFFFFF;
    --content-secondary: #98959D;
    --content-tertiary: #666666;
    --content-brand: #9282FA;
    --border-primary: #3E3C41;
    --border-secondary: #86818C;
    --border-brand: #9282FA;
    --border-divisor: #353339;
    --accent-blue: #027DF0;
    --accent-blue-light: #16487A;
    --accent-yellow: #F0DC02;
    --accent-yellow-light: #756E1B;
    --accent-orange: #F09102;
    --accent-orange-light: #75501B;
}

body{
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-optical-sizing: auto;
    background: var(--background-secondary);
    color: var(--content-secondary);
}

/* Texto */
h1, h2, h3, h4, h5, h6{
    font-family: "Inter Tight", sans-serif;
    line-height: 32px;
    font-weight: bold;
    color: var(--content-primary);
}

h1{font-size: 28px}
h2{font-size: 28px}
h3{font-size: 22px}
h4{font-size: 18px}
h5, h6{font-size: 16px}

/* Alinhamento */
.text-left{text-align: left !important}
.text-center{text-align: center !important}
.text-right{text-align: right !important}

.site-logo{
    display: inline-block;
    background: var(--background-tertiary);
    border-radius: 0 0 15px 0;
    padding: 15px;
}

/* Select com os horarios no cabecalho */
.select-icon{
    width: 210px;
    border: 1px solid var(--border-primary);
    border-radius: 10px;
    padding: 12px 16px;
}

.select-icon .select-icon-icon{
    width: 20px;
    height: 20px;
}

.select-icon .select-icon-input{
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--content-secondary);
}

::-webkit-calendar-picker-indicator {
  cursor: pointer;
  background: transparent;
  background-image: url("../images/icon-arrow-down.svg");
  background-size: 18px 18px;
  background-repeat: no-repeat;
}

/* Lista com os horarios */
.container-horarios{
    border-radius: 10px;    
    background-color: var(--background-tertiary);
    color: var(--content-secondary);
}

.container-horarios .container-horarios-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 20px;
    border-bottom: 1px solid var(--border-primary);
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
}

.container-horarios .container-horarios-header h2,
.container-horarios .container-horarios-header h3{
    font-size: 18px;
    margin-bottom: 0;
    line-height: 24px;
    font-weight: bold;
}

.container-horarios .container-horarios-header svg{
    width: 22px;
    height: 22px;
    margin-right: 5px;
}

.container-horarios-list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.container-horarios .container-horarios-list li{
    border-bottom: 1px solid var(--border-primary);
    padding: 5px 0;
}

.container-horarios .container-horarios-list li:last-child{
    border-bottom: 0;    
}
.container-horarios-horario,
.container-horarios-nome,
.container-horarios-servico,
.container-horarios-acao{
    padding: 16px;
}

.container-horarios-acao a{
    text-decoration: none;
}

@media(min-width: 992px){
    .container-horarios .container-horarios-list li{
        display: flex;
    }
    
    .container-horarios-horario{
        width: 10%;
    }

    .container-horarios-nome{
        width: 35%;
    }

    .container-horarios-servico{
        width: 30%;
    }

    .container-horarios-acao{
        width: 25%;    
    }
}

